.text-container {
    background-color: aquamarine;
}
.text-header {
    font-size: 45px;
}
.text-paragraph {
    font-size: 20px;
    line-height: 1em;
    text-align: justify;
    text-indent: 1em;

}
.button {
text-transform: capitalize;
}
.link{
    text-decoration: line-through overline underline;
    text-decoration-color: rgb(19, 248, 172);
}